# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [9]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [22]:
random1 = pd.Series(np.random.randint(1, 4, size = 100))
random2 = pd.Series(np.random.randint(1, 3, size = 100))
random3 = pd.Series(np.random.randint(10000, 30000, size = 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [27]:
housing = pd.DataFrame({'random1': random1, 'random2': random2, 'random3': random3})
housing.head()

   random1  random2  random3
0        3        2    29328
1        2        1    29341
2        2        1    23010
3        3        1    23943
4        1        1    10079

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [31]:
housing = housing.rename(index=str, columns = {'random1': 'bedrs', 'random2': 'bathrs', 'random3': 'price_sqr_meter'})
housing.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            29328
1      2       1            29341
2      2       1            23010
3      3       1            23943
4      1       1            10079

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [54]:
bigcolumn = pd.DataFrame({'A': random1.map(str) + ' ' + random2.map(str) + ' ' + random3.map(str)})
bigcolumn.head()

           A
0  3 2 29328
1  2 1 29341
2  2 1 23010
3  3 1 23943
4  1 1 10079

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [53]:
bigcolumn.index.max()

99

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [65]:
longcolumn = pd.concat([random1, random2, random3], ignore_index = True)
print(longcolumn.index)
print(longcolumn.index.max())

RangeIndex(start=0, stop=300, step=1)
299